<p style="color: green"><%= notice %></p>
<h1>Blogs</h1>
<table>
  <thead>
    <tr>
      <th>
        Title
      </th>
      <th>Date</th>
      <th>Body</th>
      <th colspan="4">Status</th>
    </tr>
  </thead>
  <tbody>
    <%= link_to "Create New Item", new_blog_path %>
    <%= render @blogs %>
  </tbody>
</table>
