<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>

<p><%= number_to_phone "555666444888" %></p>
<p><%= number_to_currency "555666444888" %></p>
<p><%= number_to_percentage "44" %></p>
<p><%= number_with_delimiter "555666444888" %></p>
